@{
    ViewData["Title"] = "About";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/site.css" />
    <style>
        /*body {
            background-image: url("https://img.freepik.com/free-photo/gray-chair-living-room-with-copy-space_43614-876.jpg?                                                             w=740&t=st=1676480688~exp=1676481288~hmac=33174f2742f3d9996de680a18945f7fdef383399165900412e28c70d6465c26e");
            background-size: cover;
            background-repeat: no-repeat;
        }*/

        /*.naslov {
            text-align: center;
            font-family: math;
            font-size: 25px;
            padding-top: 150px;
        }

        p {
            font-size: 25px;
            text-align: center justify;
            padding-left: 30px;
            padding-top: 100px;
            padding-left: 720px;
            font-family: math;
        }*/
    </style>

</head>
<body>
    <div class="align-middle">
        <p>
            <b>
                Decor
            </b> a popular online furniture shop
            that’s most popular for selling modern and affordable furniture
            to put into a house or other building's' to make it suitable and comfortable for living or working in.
        </p>

    </div>

   @* <div class="bg-image bg-image-cover bg-image-center" style="background-image: url('https://img.freepik.com/free-photo/gray-chair-living-room-with-copy-space_43614-876.jpg? w=740&t =st =1676480688~exp =1676481288~hmac =33174f2742f3d9996de680a18945f7fdef383399165900412e28c70d6465c26e');">*@
    <div class="align-middle" style="margin-left: -170px;margin-top: -200px;">
                <img  src="https://i.pinimg.com/originals/e5/05/91/e505919f11002a9ce41007d47c6ec161.jpg"/>
                 
            
                </div>
   
           
        
    <style>
        /*html {
            
            /*background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/p-464-pa-1415-02.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=0e6d4404adf896d1962f7e18934ac2ea');*/
            /*background-image: url('https://images.unsplash.com/photo-1555041469-a586c61ea9bc?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c29mYXxlbnwwfHwwfHw%3D&w=1000&q=80');
            background-size:contain;
            background-repeat: no-repeat;
          
          }  */
       
        .slika{
            height:600px;
            width:400px;
        }

        .naslov {
            text-align: center;
            font-family: math;
            font-size: 80px;
            padding-top: 150px;
        }

        p {
            font-size: 25px;
            text-align: center justify;
            padding-left: 100px;
            padding-top: 30px;
            padding-left: 720px;
            font-family: math;
        }
        
    </style>
    
</body>
</html>
