@{
    ViewData["Title"] = "About";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


</head>
<body>
    <p> 
        <b>
            Decor
        </b> a popular online furniture shop
            that’s most popular for selling modern and affordable furniture
            to put into a house or other building's' to make it suitable and comfortable for living or working in.
        
    </p>
    <style>
        body {
            background-image: url("https://images.rawpixel.com/image_300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm00MTctYjAzYS0wMi1tb2NrdXBfMS5qcGc.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .naslov {
            text-align: center;
            font-family: math;
            font-size: 25px;
            padding-top: 150px;
        }

        p {
            font-size: 25px;
            text-align: center justify;
            padding-left: 100px;
            padding-top: 100px;
            padding-left: 500px;
            font-family: math;
        }
    </style>
</body>
</html>

