@{
    ViewData["Title"] = "Home Page";
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    
</head>
<body>
    
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active" style="height:600px">
                <img class="d-block w-100" src="https://images.ctfassets.net/5de70he6op10/2HQTZ9clc4AnFjAkBr1MhZ/8577afad514b484edc28d6953e19a729/Furniture_Gateway_02.jpg?w=856&q=80&fm=jpg&fl=progressive" alt="First slide">
                <div class="carousel-caption">
                    <h2 style="color: navy; font-size:65px; margin-bottom: 230px">
                        LIVING ROOM COLECTION
                    </h2>
                </div>
            </div>
            <div class="carousel-item" style="height:600px">
                <img class="d-block w-100" src="https://www.pluck.co.uk/wp-content/uploads/2021/10/Pluck-Dulwich-Village-HP-1600x1067.jpg" alt="Third slide">
                <div class="carousel-caption">
                    <h2 style="color: maroon; font-size:65px; margin-bottom: 240px">
                        KITCHEN COLECTION
                    </h2>
                </div>
            </div>
            <div class="carousel-item" style="height: 600px">
                <img class="d-block w-100" src="https://cdn.shopify.com/s/files/1/0590/7283/9867/collections/Brook-3-Piece-Suite---White-Paint---LR_1100x.jpg?v=1654228541" alt="Third slide">
                <div class="carousel-caption">
                    <h2 style="color: darkgreen; text-shadow: 10px; font-size:65px; margin-bottom: 240px">
                        BEDROOM COLECTION
                    </h2>
                </div>
            </div>
            <div class="carousel-item" style="height:600px">
                <img class="d-block w-100" src="https://mastella.it/wp-content/uploads/Kami-2-3-e1619076014450.jpg" alt="Third slide">
                <div class="carousel-caption">
                <h2 style="color: darkslategrey; font-size:65px; margin-bottom: 240px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                    BATHROOM COLECTION
                </h2>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
    </html>

<br />
<br />
<br />
@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

@*    <div id="carousel-example-generic" class="carousel slide custom-carousel" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

            <div class="item min-vh-100">
                <div class="banner" style="background-image: url(https://images.ctfassets.net/5de70he6op10/2HQTZ9clc4AnFjAkBr1MhZ/8577afad514b484edc28d6953e19a729/Furniture_Gateway_02.jpg?w=856&q=80&fm=jpg&fl=progressive) "></div>
                <div class="carousel-caption">
                    <h2 style="color: white">LIVING ROOM COLECTION</h2>
                </div>
            </div>

            <div class="item active min-vh-100">
                <div class="banner" style="background-image: url(https://images.ctfassets.net/5de70he6op10/2HQTZ9clc4AnFjAkBr1MhZ/8577afad514b484edc28d6953e19a729/Furniture_Gateway_02.jpg?w=856&q=80&fm=jpg&fl=progressive) "></div>
                <div class="carousel-caption">
                    <h2 style="color: white">NEW ARIVALS</h2>
                </div>
            </div>
            <div class="item">
            <div class="banner" style="background-image: url(https://cdn.lifestyleasia.com/wp-content/uploads/sites/5/2020/10/21110045/Dior-4015-min-1350x900.jpg) "></div>
            <div class="carousel-caption">
            <h2 style="color: white">FALL COLECTION</h2>

            </div>
            </div>

            <div class="item min-vh-100">
            <div class="banner" style="background-image: url(https://www.pluck.co.uk/wp-content/uploads/2021/10/Pluck-Dulwich-Village-HP-1600x1067.jpg) "></div>
            <div class="carousel-caption">
            <h2 style="color: white">KITCHEN COLECTION</h2>
            </div>
            </div>
            <div class="item min-vh-100">
            <div class="banner" style="background-image: url(https://mastella.it/wp-content/uploads/Kami-2-3-e1619076014450.jpg) "></div>
            <div class="carousel-caption">
            <h2 style="color: white">BATHROOM COLECTION</h2>
            </div>
            </div>
            <div class="item min-vh-100">
            <div class="banner" style="background-image: url(https://cdn.shopify.com/s/files/1/0590/7283/9867/collections/Brook-3-Piece-Suite---White-Paint---LR_1100x.jpg?v=1654228541) "></div>
            <div class="carousel-caption">
            <h2 style="color: #b57777">BEDROOM COLECTION</h2>
            </div>
            </div>
            </div>

            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
            </div>*@

@*<html>
<body>
    <div id="carousel-example-generic" class="carousel slide custom-carousel" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
        </ol>

        <div class="carousel-inner" role="listbox">

            <div class="item min-vh-100">
                <div class="banner" style="background-image: url(https://images.ctfassets.net/5de70he6op10/2HQTZ9clc4AnFjAkBr1MhZ/8577afad514b484edc28d6953e19a729/Furniture_Gateway_02.jpg?w=856&q=80&fm=jpg&fl=progressive) "></div>
                <div class="carousel-caption">
                    <h2 style="color: white">LIVING ROOM COLECTION</h2>
                </div>
            </div>

            <div class="item active min-vh-100">
                <div class="banner" style="background-image: url(https://images.ctfassets.net/5de70he6op10/2HQTZ9clc4AnFjAkBr1MhZ/8577afad514b484edc28d6953e19a729/Furniture_Gateway_02.jpg?w=856&q=80&fm=jpg&fl=progressive) "></div>
                <div class="carousel-caption">
                    <h2 style="color: white">NEW ARIVALS</h2>
                </div>
            </div>
            @*<div class="item">
            <div class="banner" style="background-image: url(https://cdn.lifestyleasia.com/wp-content/uploads/sites/5/2020/10/21110045/Dior-4015-min-1350x900.jpg) "></div>
            <div class="carousel-caption">
            <h2 style="color: white">FALL COLECTION</h2>

            </div>
            </div>

            <div class="item min-vh-100">
                <div class="banner" style="background-image: url(https://www.pluck.co.uk/wp-content/uploads/2021/10/Pluck-Dulwich-Village-HP-1600x1067.jpg) "></div>
                <div class="carousel-caption">
                    <h2 style="color: white">KITCHEN COLECTION</h2>
                </div>
            </div>
            <div class="item min-vh-100">
                <div class="banner" style="background-image: url(https://mastella.it/wp-content/uploads/Kami-2-3-e1619076014450.jpg) "></div>
                <div class="carousel-caption">
                    <h2 style="color: white">BATHROOM COLECTION</h2>
                </div>
            </div>
            <div class="item min-vh-100">
                <div class="banner" style="background-image: url(https://cdn.shopify.com/s/files/1/0590/7283/9867/collections/Brook-3-Piece-Suite---White-Paint---LR_1100x.jpg?v=1654228541) "></div>
                <div class="carousel-caption">
                    <h2 style="color: #b57777">BEDROOM COLECTION</h2>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br />
    <br />
    <br />
    <div>
        <div id="img1" style="background-image: url(https://i.pinimg.com/originals/40/80/a1/4080a1acac13d5955d46dada36e7f770.jpg) "></div>
    </div>
    <div>
        <p class="text1">
            Street Style For Summer 2022
        </p>
    </div>
    <br />
    <br />
    <div>
        <p class="text2" style="width: 550px; height: 500px;">
            Pastel Collection 2022
        </p>
    </div>
    <div>
        <div class="img2" style="background-image: url(https://i.pinimg.com/736x/96/09/11/9609114c1b86e03f6022b7689d6e9df6.jpg)"></div>
    </div>
    <style>
        body {
            font-family: poppins;
        }

        #img1 {
            width: 550px;
            height: 500px;
            float: left;
        }

        .text1 {
            font-family: 'Cambria Math';
            position: relative;
            left: 55px;
            font-size: 100px;
        }

        .text2 {
            font-family: 'Cambria Math';
            position: relative;
            left: -10px;
            font-size: 100px;
            bottom: -80px;
        }

        .img2 {
            width: 550px;
            height: 500px;
            float: right;
            position: relative;
            bottom: 450px;
        }

        .custom-carousel {
            max-width: 100%;
            width: 100%;
        }

        .carousel, .item, .active {
            height: 100%;
        }

        .carousel-inner {
            height: 100%;
        }

        .banner {
            margin-top: 25px;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            height: 83vh;
        }

        .carousel-caption {
            padding-bottom: 300px;
            font-family: poppins;
        }

            .carousel-caption h2 {
                font-size: 70px;
                text-transform: uppercase;
                font-weight: bold;
            }

                .carousel-caption h2 span {
                    color: #000000;
                }

            .carousel-caption a {
                background: #EDBB00;
                padding: 15px 35px;
                display: inline-block;
                margin-top: 15px;
                color: #fff;
                text-transform: uppercase;
                border-radius: 25px;
            }

        .carousel-control.right {
            background-image: none;
        }

        .carousel-control.left {
            background-image: none;
        }

        .carousel-indicators .active {
            background-color: #000000;
            border-color: #000000;
        }
    </style>
</body>
</html>*@
